#bodydiv {
	padding-left: 10%;
	margin-top: 20px;
	padding-right: 10%;
	margin-bottom: 20px;
}


footer {
	text-align: center;
	position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.heading {
	padding: 1% 25%;
	padding-bottom: 10%;
}


.heading {
	text-align: center;
}

.input-group {
	padding: 10% 30%;
	padding-bottom: 10%;
}